.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0rem 2rem;
  padding: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0rem 0rem 1.5rem -1rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 0rem 1.5rem -1rem rgba(0, 0, 0, 0.75);
}

.featuredTitle {
  font-size: 2em;
}

.featuredMoneyContainer {
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 3em;
  font-weight: 600;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.featuredIcon {
  font-size: 1.4em;
  margin-left: 0.5rem;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 1.5em;
  color: gray;
}

@media screen and (max-width: 76.8rem) {
  .featured {
    flex-direction: column;
  }

  .featuredItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 4rem;
  }

  .featuredMoneyContainer {
    place-self: end;
  }
}
